<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= specificAnimal.name %> </title>
</head>
<body>
    <h2>Adopt <%= specificAnimal.name %></h2>
    <img src="<%= specificAnimal.url  %>" alt="">
    <p><%= specificAnimal.name  %> is a <%= specificAnimal.age  %> year old <%= specificAnimal.breed  %></p>
    <p><%= specificAnimal.description  %></p>
</body>
</html>